<section id="meterdatos">
    <div>
        <p>¿Qué se vende en la Comarca?</p>
        <button type="button">Mariposas</button>
        <button type="button">Coches</button>
        <button type="button">Carne de cerdo</button>
    </div>
    <div>
        <p>¿Qué se dice cuando entra Manu por la puerta?</p>
        <button type="button">Buenos días</button>
        <button type="button">Manuuuu</button>
        <button type="button">Hola</button>
    </div>
    <div>
        <p>¿Cuánto cuesta el café?</p>
        <button type="button">60 céntimos</button>
        <button type="button">1 euro</button>
        <button type="button">Gratis</button>
    </div>
    <button (click)="testFinalizado()">Finalizado</button>
</section>